body {
    text-align:center;
    font-family: SourceSansPro,Arial,Helvetica,sans-serif;
    font-size: SourceSansPro,Arial,Helvetica,sans-serif;
    line-height: 22.5px;
    color: #000;
    background-color: #fff;
  }

  .container {
    display: block;
    position: fixed;
    background-color: white;
    top: 0;
    left: -50%;
    width: 100%;
    height: auto;
  }

.background-image{
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  }

.button {
    display: block;
    padding: 3px 6px;
    background-color: white;
    color: #000;
    text-decoration: none;
    border: 1px solid black;
    font-weight: bold;
    position: fixed;
  }
  
  .button:hover {
    background-color: #ccff00;
    color: #000;
  } 
  
  .button:active {
    background-color: white;
    color: #000
  }

  #button1 { top: 35%; left: 25%;}
  #button2 {top: 30%; left: 6%;}
  #button3 {top: 70%; left: 12%;}
  #button4 {top: 15%; left: 20%;}
  #button5 {top: 50%; left: 25%;}
  #button6 {top: 60%; left: 6%;}
  #button7 {top: 80%; left: 70%;}
  #button8 {top: 75%; left: 12%;}
  #button9 {top: 5%; left: 75%;}
  #button10 {top: 45%; left: 25%;}
  #button11 {top: 15%; left: 75%;}