body {
  text-align:center;
  font-family: SourceSansPro,Arial,Helvetica,sans-serif;
  font-size: SourceSansPro,Arial,Helvetica,sans-serif;
  line-height: 22.5px;
  color: #000;
  background-color: #fff;
  }

.container {
  position: relative;
  background-color: white;
  }

.background-image {
  width: 100%;
  padding-bottom: 60%;
  background-image: url("images/campus-map-sketch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

.dropup {
  position: absolute;
}

#zp { top: 78%; left: 60%;}
#esl {top: 45%; left: 20%;}
#cm {top: 68%; left: 70%;}
#sm {top: 25%; left: 30%;}
#seo {top: 35%; left: 2%;}
#bb {top: 90%; left: 70%;}
#cc {top: 85%; left: 45%;}
#lpp {top: 50%; left: 20%;}
#ss {top: 10%; left: 75%;}
#ssc {top: 5%; left: 75%;}
#eb {top: 20%; left: 30%;}

.dropup-button {
  padding: 3px 6px;
  background-color: white;
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
  font-weight: bold;
}

.dropup:hover .dropup-button{
  background-color: #ccff00;
  color: #000;
}
  
.dropup-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  bottom: calc(100% + 2px); /* Adjust the value as per your preference */
  left: 50%;
  transform: translateX(-50%);
  }
  
.dropup:hover .dropup-content {
  display: block;
} 

